.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.eslintrc.json
**/.eslintrc
.editorconfig
webpack.config.js
tsconfig.json
tsconfig.webview.json
out/test/**
*.vsix
.DS_Store
../**
../zed-extension/**
../lsp-server/**
../target/**
test/**
tests/**
*.test.js
*.spec.js
.github/**
.nycrc
CONTRIBUTING.md
SECURITY.md
*.md
!README.md
!CHANGELOG.md
*.txt
generate-build-info.js
increment-version.js
update-versions.js
show-status.js
.gitattributes
logs/**
bin/log-scout-lsp-server-mac
bin/log-scout-lsp-server-linux
bin/log-scout-lsp-server-win.exe
bin/log-scout-lsp-server-win-legacy-backup.exe
bin/nul
